@font-face{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Lexend/Lexend-VariableFont_wght.ttf") format("truetype");

}
body{
    margin: auto;
    max-width: 700px;
    padding: 16px;
    font-family: 'Lexend', sans-serif, serif;
    font-size: 18px;
    line-height: 1.7rem;

}
p{
    color: #505059;
}
.tag{
    font-size: 16px; 
    padding: 2px;
    color: #1d9bf0;
    display: inline-block;
}