@font-face{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Lexend/Lexend-VariableFont_wght.ttf") format("truetype");

}
body{
    font-family: 'Lexend';
}