---
// Astro Blog

import Layout from '../layouts/Layout.astro';

console.log("Hello, world!")
---

<Layout title="Home">
  <h1>Olá, Mundo!</h1>
</Layout>

<style>
  h1 {
    color: teal;
    font-family: sans-serif, serif;
  }
</style>