---

import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('posts');
---

<Layout title="Home">
  <ul>
    {allPosts.map(post => 
        <li>
          <a href={'/post/' + post.slug}>{post.data.title}</a>
          ({post.data.date})
          <p>
            {post.data.description} 
            {post.data.tags.map(tag => <span> #{tag} </span>)}
          </p>
          
        </li>
    )}
  </ul>
</Layout>