---

import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import PageName from '../components/PageName.astro'
import Articles from '../components/Articles.astro'

const allPosts = await getCollection('posts').catch((e)=> {
  if(e.title == 'Collection does not exist'){
    return e.title
  }
  return undefined
});
---

<Layout title="Home">
  <PageName pageName="Astro Blog">
      <p><i>"A mente que se abre a uma nova ideia jamais voltará ao seu tamanho original."</i> - Albert Einstein</p>
      <span class="tag">#Tecnologia</span>
      <span class="tag">#Curiosidades</span>
      <span class="tag">#Tutoriais</span>
  </PageName>
  <section>
    <h3>Bem-vindo ao Astro Blog!</h3>
    <p>Explore o vasto universo de conhecimento aqui, onde as estrelas da programação brilham, as harmonias da música ecoam e os mundos de assuntos fascinantes colidem. Navegue por nossos posts repletos de artigos, tutoriais e muito mais. Embarque em uma jornada intergaláctica através de diversos temas, sempre com um toque especial que nos torna únicos. Venha conosco em busca de novos horizontes e descubra as maravilhas do conhecimento no Astro Blog. Vamos decolar juntos nessa viagem cósmica! <br/> &#128640; &#127756; </p>
  </section> 

  <Articles title="Ultimos artigos" posts={allPosts}/>
</Layout>