---

---
<header>
    <a href="/">
        <img src="/logo.png" alt="Astro Blog" width="50" height="50">
    </a>
    <nav>
        <a href="/posts">Artigos </a> 
        <a href="/sobre">Sobre</a>
    </nav>
</header>

<style>
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav {
        display: flex;
        column-gap: 1rem;
    }
    header a{
        color: inherit;
        text-decoration: inherit;
    }
    header a:hover{
        color: rgb(117 117 255 );
        text-decoration: underline;
    }
    
    header a img{
        border-radius: 50%;
        width: 100%;
    }
</style>