---
import '../styles/global.css'
import Header from '../components/Header.astro'

const { title } = Astro.props.frontmatter || Astro.props
---

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    <title>{ title }</title>
</head>
<body>
    <Header/>
    <main>
        <slot />
    </main>
</body>
</html>